.welcome-h1 {
  font-size: 20px;
  margin: 1%;
  margin-left: 0;
  font-family: var(--main-font);
  color: var(--welcome-text);
}
.welcome-h2 {
  font-size: 40px;
  margin: 1%;
  margin-left: 0;
  font-family: var(--main-font);
  color: var(--welcome-text);
}
.welcome-h3 {
  font-size: 30px;
  margin: 1%;
  margin-left: 0;
  font-family: var(--main-font);
  color: var(--welcome-text);
}
.welcome-h4 {
  font-size: 30px;
  margin: 1%;
  margin-left: 0;
  font-family: var(--main-font);
  color: var(--welcome-text);
}
.Welcome-container {
  margin-top: 5%;
  margin-left: 10%;
  background-color: var(--welcome-background);
  width: auto;
  height: auto;
}

@-webkit-keyframes slideLeft {
  100% {
    left: 0;
  }
}

@keyframes slideLeft {
  100% {
    left: 0;
  }
}
