.linkButton {
  color: var(--header-text);
  font-family: var(--main-font);
}
.nav {
  background-color: var(--main);
  width: auto;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo {
  height: 70px;
  width: 70px;
  background-size: cover;
  background-image: url("../../../public/SAWWhite.png");
  /* making animation for the saw logo */
  animation-name: spin;
  animation-duration: 500ms;
  /* animation-iteration-count: infinite; */
  animation-iteration-count: 5;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
