.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 82.5px;
  color: var(--header-text);
  background: var(--main);
  font-weight: var(--main-fontWeight);
  font-family: var(--main-font);
}
