.main {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: var(--background);
}
.content {
  /* margin-top: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
