body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  /* --main: #660033;
  --second: rgba(26, 26, 26, 0.8);
  --header-text: rgb(229, 235, 240); */
  --main-font: monospace;
  /* --background: url(https://t3.ftcdn.net/jpg/03/41/31/88/360_F_341318810_iLrhXO8CD1mLSLIf7RkwXSahVuowqsgP.jpg); */
}

.light-mode {
  --main: #660033;
  --second: rgba(26, 26, 26, 0.8);
  --header-text: rgb(229, 235, 240);
  --welcome-background: rgba(255, 255, 255, 0.7);
  --welcome-text: rgb(0, 0, 0);
  --background: url(../public/WhiteBackground.jpg);
  --logo: url(../public/SAWWhite.png);
  --dark-light-mode: #ccc;
}
.dark-mode {
  --main: #506872;
  /* --main: #911ddf; */
  /* --main: #99ffcc; */
  /* --main: #09ff15; */
  /* --main: #d4046c; */
  --second: rgba(150, 150, 150, 0.8);
  --header-text: rgb(0, 0, 0);
  --welcome-background: rgba(0, 0, 0, 0.7);
  --welcome-text: rgb(255, 255, 255);
  --background: url(../public/BlackBackground.jpg);
  --logo: url(../public/SAW.png);
  --dark-light-mode: #4b4e50;
}
